.analysisArea {
    margin-top: 60px;
    background-color: dimgrey;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}

canvas {
    margin: 20px;
}

.graph1 {
    float: left;
    margin: 30px;
    width: 50%;
    background-color: white;
}

.graph2 {
    margin: 30px;
    width: 50%;
    background-color: white;
}

.LevelAnalysis {
    margin: 30px;
    margin-bottom: 0px;
    text-align: left;
    color: aqua;
}

.Comments{
    text-align: center;
}